@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.header .header__in, .footer .footer__in, .wecan .wecan__in, .portfolio .portfolio__in, .slide .slide__in, .actuality .actuality__in, .twitter .twitter__in, .blog .blog__in { width: 930px; margin-left: auto; margin-right: auto; }

body { background: #f1f1e5; font-family: "PT Serif", serif; font-size: 14px; line-height: 1.4; }

.title { padding-bottom: 80px; font-family: "PT Serif Bold", serif; font-weight: bold; font-size: 40px; color: #424242; text-align: center; position: relative; }
.title.title_mod { margin-bottom: 0px; padding-bottom: 10px; }
.title.title_mod:after { bottom: -90px; }
.title.title_mod:hover h2, .title.title_mod:hover a { color: #0079e0; border-bottom: 1px solid #0079e0; }
.title.title_mod h2, .title.title_mod a { display: inline-block; line-height: 1; color: #424242; text-decoration: none; border-bottom: 1px solid #424242; }
.title:after { content: ""; width: 8px; height: 8px; background: #b3b3b3; border-radius: 50%; position: absolute; bottom: 44px; left: 50%; margin-left: -4px; }
.title h2 { font-family: "PT Serif Bold", serif; font-weight: bold; font-size: 40px; color: #424242; text-align: center; }

.wrap { background: white; }

.header { min-height: 590px; background: url("../img/v4-header-bg.jpg"); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.header .header__in { min-height: 590px; position: relative; }
.header .header__descr { height: 340px; position: absolute; left: 0; right: 0; top: 50%; margin-top: -170px; }
.header .header__descr:after { content: ""; width: 546px; height: 210px; background: url("../img/header_descr.png"); position: absolute; top: 0; left: 50%; margin-left: -273px; }
.header .header__descrmeta { padding-top: 230px; font-size: 23px; text-align: center; color: white; font-family: "PT Sans Italic", sans-serif; }
.header .header__contact { height: 70px; line-height: 70px; position: absolute; bottom: 0; right: 0; left: 0; background: #282828; border-radius: 2px 2px 0 0; text-align: center; }
.header .header__contactlink { border-bottom: 1px dotted #18ff00; font-size: 23px; color: #18ff00; text-decoration: none; font-family: "PT Sans", sans-serif; }
.header .header__contactlink:hover { color: #a3ff99; border-color: #a3ff99; }
.header .header__social { position: absolute; bottom: 0; right: 0; *zoom: 1; }
.header .header__social:after { content: " "; display: table; clear: both; }
.header .header__social li { float: left; }
.header .header__social a { display: block; width: 70px; height: 70px; position: relative; }
.header .header__social .header__social-ve { background: #2f79ff; }
.header .header__social .header__social-ve a:after { content: ""; position: absolute; bottom: 50%; margin-bottom: -10px; left: 50%; margin-left: -15px; background: url('../img/icons-saaa3393be8.png') 0 -713px no-repeat; width: 30px; height: 19px; }
.header .header__social .header__social-ve a:hover:before { content: ""; height: 10px; background: #2f79ff; position: absolute; top: -10px; left: 0; right: 0; }
.header .header__social .header__social-ve a:hover:after { margin-bottom: 0; }
.header .header__social .header__social-tw { background: #1cb7eb; }
.header .header__social .header__social-tw a { border-radius: 0 2px 0 0; }
.header .header__social .header__social-tw a:after { content: ""; position: absolute; bottom: 50%; margin-bottom: -10px; left: 50%; margin-left: -13px; background: url('../img/icons-saaa3393be8.png') 0 -836px no-repeat; width: 26px; height: 21px; }
.header .header__social .header__social-tw a:hover { border-radius: 0 0px 0 0; }
.header .header__social .header__social-tw a:hover:before { content: ""; height: 10px; background: #1cb7eb; border-radius: 0 2px 0 0; position: absolute; top: -10px; left: 0; right: 0; }
.header .header__social .header__social-tw a:hover:after { margin-bottom: 0; }

.logo { background: url('../img/icons-saaa3393be8.png') 0 -594px no-repeat; width: 138px; height: 44px; position: absolute; top: 30px; left: 50%; margin-left: -69px; }

.in-blog { height: 35px; line-height: 33px; padding: 0px 8px 0 16px; position: absolute; top: 50px; right: 0; background: rgba(0, 0, 0, 0.3); border-radius: 3px 2px 2px 3px; text-decoration: underline; font-size: 18px; color: #18ff00; font-family: "PT Sans", sans-serif; }
.in-blog:after { content: ""; display: inline-block; position: absolute; top: 0; right: -16px; width: 0px; height: 0px; border-style: solid; border-width: 17px 0 17px 16px; border-color: transparent transparent transparent rgba(0, 0, 0, 0.3); }
.in-blog:hover { color: #a3ff99; background: rgba(0, 0, 0, 0.4); }
.in-blog:hover:after { width: 0px; height: 0px; border-style: solid; border-width: 17px 0 17px 16px; border-color: transparent transparent transparent rgba(0, 0, 0, 0.4); }

.footer { padding-top: 58px; background: #1a3435; }
.footer .footer__meta { margin-bottom: 85px; text-align: center; font-size: 23px; font-family: "PT Sans", sans-serif; color: #9ee4e7; }
.footer .title a, .footer .title h2 { color: white; text-decoration: none; border-bottom: none; }
.footer .title:hover { color: white; border-bottom: none; }
.footer .title:hover a, .footer .title:hover h2 { color: white; border-bottom: none; }

.form .form__messagein { margin-bottom: 50px; height: 70px; line-height: 70px; background: #244344; border: 1px solid #315556; border-radius: 3px; text-align: center; font-family: "PT Sans Italic", sans-serif; font-size: 18px; color: #5a9b9d; position: relative; }
.form .form__messagein .cross { position: absolute; right: 25px; top: 50%; margin-top: -7px; }
.form .form__row { *zoom: 1; }
.form .form__row:after { content: " "; display: table; clear: both; }
.form .form__col { float: left; }
.form .form__col1 { width: 395px; margin-right: 70px; }
.form .form__col2 { width: 465px; }
.form .form__label { margin-bottom: 30px; }
.form .form__label.form__labelsend { text-align: right; }
.form .form__labellong { margin-bottom: 40px; }
.form .form__send { display: inline-block; padding: 11px 15px; border: 2px solid #60f239; border-radius: 5px; background: transparent; color: #60f239; font-size: 18px; font-family: "PT Sans", sans-serif; -webkit-transition: all linear; -webkit-transition-delay: 0.2s; -moz-transition: all linear 0.2s; -o-transition: all linear 0.2s; transition: all linear 0.2s; }
.form .form__send:hover { background: #60f239; color: black; -webkit-transition: all linear; -webkit-transition-delay: 0.2s; -moz-transition: all linear 0.2s; -o-transition: all linear 0.2s; transition: all linear 0.2s; }
.form .form__send:active { background: #50d72c; }
.form .form__tel { font-family: "PT Sans", sans-serif; font-size: 30px; color: white; }
.form .form__mail { font-size: 30px; color: #56d838; font-family: "PT Sans", sans-serif; }
.form .form__mail:hover { color: #90e38a; }
.form .form__mail:hover a { color: #90e38a; }
.form .form__mail a { font-size: 30px; color: #56d838; font-family: "PT Sans", sans-serif; text-decoration: underline; }
.form .form__director { font-family: "PT Sans", sans-serif; font-size: 18px; color: white; }
.form .form__director a { color: #56d838; text-decoration: underline; }
.form .form__director a:hover { color: #90e38a; }
.form .form__social { *zoom: 1; }
.form .form__social:after { content: " "; display: table; clear: both; }
.form .form__social li { margin-right: 20px; float: left; }
.form .form__social li.ve a { background: url('../img/icons-saaa3393be8.png') 0 -683px no-repeat; width: 32px; height: 20px; }
.form .form__social li.ve a:hover { background-position: 0 -742px; }
.form .form__social li.tw a { background: url('../img/icons-saaa3393be8.png') 0 -772px no-repeat; width: 27px; height: 22px; }
.form .form__social li.tw a:hover { background-position: 0 -804px; }
.form .form__social a { display: block; }

.copy { height: 50px; line-height: 50px; background: #122425; font-size: 16px; font-family: "PT Sans", sans-serif; text-align: center; color: #2b4d4e; }

.wecan { margin-bottom: 48px; }
.wecan .wecan__in { padding-top: 56px; background: white; border-radius: 0 0 2px 2px; border: 1px solid #e5e5d2; -webkit-box-shadow: 0px 1px 0 #e5e5d2; -moz-box-shadow: 0px 1px 0 #e5e5d2; box-shadow: 0px 1px 0 #e5e5d2; border-top: none; }
.wecan .wecan__list ul { *zoom: 1; }
.wecan .wecan__list ul:after { content: " "; display: table; clear: both; }
.wecan .wecan__list li { width: 310px; padding-top: 210px; padding-bottom: 86px; float: left; text-align: center; position: relative; }
.wecan .wecan__list li:after { content: ""; position: absolute; top: 0; left: 50%; margin-left: -94px; }
.wecan .wecan__list li.wecan__prototype:after { background: url('../img/icons-saaa3393be8.png') 0 -198px no-repeat; width: 188px; height: 188px; }
.wecan .wecan__list li.wecan__mobile:after { background: url('../img/icons-saaa3393be8.png') 0 0 no-repeat; width: 188px; height: 188px; }
.wecan .wecan__list li.wecan__key:after { background: url('../img/icons-saaa3393be8.png') 0 -396px no-repeat; width: 188px; height: 188px; }
.wecan .wecan__listtitle { margin-bottom: 15px; font-size: 24px; color: #2f2e2e; line-height: 1.2; font-family: "PT Sans Bold", sans-serif; }
.wecan .wecan__listtitle h2 { font-size: 24px; color: #2f2e2e; line-height: 1.2; font-family: "PT Sans Bold", sans-serif; }
.wecan .wecan__listcontent { font-size: 18px; color: #2f2e2e; }

.portfolio { padding-bottom: 85px; }
.portfolio .portfolio__list { *zoom: 1; margin-left: -30px; }
.portfolio .portfolio__list:after { content: " "; display: table; clear: both; }
.portfolio .portfolio__col { width: 288px; margin-left: 30px; float: left; }
.portfolio .portfolio__col ul { font-size: 0; }
.portfolio .portfolio__col li { width: 288px; margin-bottom: 30px; border: 1px solid #e5e5d2; border-radius: 2px; -webkit-box-shadow: 0 1px 0 #e5e5d2; -moz-box-shadow: 0 1px 0 #e5e5d2; box-shadow: 0 1px 0 #e5e5d2; border-radius: 2px; display: inline-block; vertical-align: top; }
.portfolio .portfolio__col a { display: block; text-decoration: none; }
.portfolio .portfolio__col a:hover { -webkit-box-shadow: 0 5px 29px 3px rgba(109, 109, 73, 0.3); -moz-box-shadow: 0 5px 29px 3px rgba(109, 109, 73, 0.3); box-shadow: 0 5px 29px 3px rgba(109, 109, 73, 0.3); }
.portfolio .portfolio__col a:hover .portfolio__title { text-decoration: underline; }
.portfolio .portfolio__media { width: 288px; height: 220px; overflow: hidden; border-radius: 2px 2px 0 0; }
.portfolio .portfolio__content { padding: 20px 25px; background: white; }
.portfolio .portfolio__title { margin-bottom: 10px; font-family: "PT Sans Bold", sans-serif; font-size: 24px; color: #0079e0; text-decoration: none; line-height: 1.2; }
.portfolio .portfolio__text { font-size: 18px; color: #2f2e2e; font-family: "PT Sans", sans-serif; }
.portfolio .portfolio__more { text-align: center; position: relative; }
.portfolio .portfolio__more .wrap-portfolio__morelink { display: inline-block; padding: 0 20px; background: #f1f1e5; position: relative; z-index: 200; }
.portfolio .portfolio__more .portfolio__morelink { display: inline-block; line-height: 1; font-size: 23px; color: #0079e0; font-family: "PT Sans", sans-serif; font-weight: normal; text-decoration: none; border-bottom: 1px dotted #0079e0; cursor: pointer; }
.portfolio .portfolio__more .portfolio__morelink:hover { color: #345f83; border-color: #345f83; }
.portfolio .portfolio__more .portfolio__morediveder { width: 100%; height: 1px; background: #e5e5d2; position: absolute; top: 13px; left: 0; right: 0; z-index: 100; }

.slide { height: 400px; background: url("../img/slide.jpg"); background-attachment: fixed; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; position: relative; }
.slide .slide__overlay { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.7); z-index: 100; }
.slide .slide__descr { padding-top: 105px; color: white; position: relative; z-index: 200; text-align: center; }
.slide .slide__text { margin-bottom: 50px; font-weight: bold; font-size: 40px; line-height: 1.2; position: relative; }
.slide .slide__text:after { content: ""; width: 8px; height: 8px; border-radius: 50%; background: white; position: absolute; bottom: -30px; left: 50%; }
.slide .slide__content { font-weight: bold; font-size: 23px; }

.actuality { background: white; padding: 58px 0 70px; }
.actuality .actuality__list ul { *zoom: 1; }
.actuality .actuality__list ul:after { content: " "; display: table; clear: both; }
.actuality .actuality__list li { height: 170px; padding-left: 105px; float: left; position: relative; }
.actuality .actuality__list li:before { content: ""; display: inline-block; vertical-align: middle; }
.actuality .actuality__list li.actuality__list-1:before { width: 98px; height: 98px; background: url("../img/ico1.jpg"); }
.actuality .actuality__list li.actuality__list-2:before { width: 90px; height: 90px; background: url("../img/ico2.jpg"); }
.actuality .actuality__list li.actuality__list-3:before { width: 96px; height: 96px; background: url("../img/ico3.jpg"); }
.actuality .actuality__list li.actuality__list-4:before { width: 100px; height: 82px; background: url("../img/ico4.jpg"); }
.actuality .actuality__list .actuality__listdescr { margin-left: 30px; display: inline-block; vertical-align: middle; }
.actuality .actuality__list .actuality__listcontent { font-size: 18px; color: #2f2e2e; font-family: "PT Sans", sans-serif; }
.actuality .actuality__list .actuality__listmeta { font-size: 24px; color: #2f2e2e; font-family: "PT Sans Bold", sans-serif; }

.twitter { text-align: center; margin-bottom: 50px; }
.twitter .twitter__in { display: inline-block; height: 120px; line-height: 120px; border-radius: 60px; background: #1cb7eb; text-align: center; text-decoration: none; position: relative; -webkit-transition: all linear; -webkit-transition-delay: 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; }
.twitter .twitter__in:hover { background: #19a8d8; -webkit-transition: all linear; -webkit-transition-delay: 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; }
.twitter .twitter__in:hover .twitter__ico { background: #31bfee; -webkit-transition: all linear; -webkit-transition-delay: 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; -moz-transition-delay: 0.3s; -o-transition-delay: 0.3s; -webkit-transition-delay: 0.3s; -ms-transition-delay: 0.3s; transition-delay: 0.3s; }
.twitter .twitter__in:hover .twitter__ico span { border-color: #4ad0fc; }
.twitter .twitter__ico { width: 94px; height: 94px; background: transparent; border-radius: 50%; position: absolute; left: 13px; top: 13px; -webkit-transition: all linear; -webkit-transition-delay: 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; }
.twitter .twitter__ico span { display: inline-block; width: 64px; height: 64px; border-radius: 50%; background: white; border: 6px solid #4ad0fc; border-color: #1cb7eb; position: absolute; top: 50%; margin-top: -38px; left: 50%; margin-left: -38px; -webkit-transition: all linear; -webkit-transition-delay: 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; -moz-transition-delay: 0.1s; -o-transition-delay: 0.1s; -webkit-transition-delay: 0.1s; -ms-transition-delay: 0.1s; transition-delay: 0.1s; }
.twitter .twitter__ico span:after { content: ""; background: url('../img/icons-saaa3393be8.png') 0 -648px no-repeat; width: 32px; height: 25px; position: absolute; left: 50%; margin-left: -16px; top: 50%; margin-top: -12px; }
.twitter .twitter__meta { font-size: 23px; color: white; font-family: "PT Sans Italic", sans-serif; }
.twitter .twitter__descr, .twitter .twitter__link { display: inline-block; }
.twitter .twitter__link { margin-right: 5px; color: #c7ffb1; text-decoration: underline; }
.twitter .twitter__link:hover { text-decoration: none; }

.blog { padding-bottom: 90px; }
.blog .blog__meta { font-size: 23px; color: #6b6b6b; text-align: center; font-family: "PT Serif Bold", serif; font-weight: bold; }
.blog .blog__row { margin-top: 90px; margin-left: -30px; *zoom: 1; }
.blog .blog__row:after { content: " "; display: table; clear: both; }
.blog .blog__col { width: 290px; margin-left: 30px; float: left; }
.blog .blog__item { padding: 35px 40px; border: 6px solid #d3f4b1; border-radius: 10px; position: relative; }
.blog .blog__item:after { content: ""; top: -26px; left: 140px; position: absolute; width: 0px; height: 0px; border-style: solid; border-width: 23px 0 0 23px; border-color: transparent transparent transparent #d3f4b1; }
.blog .blog__item:hover { border-color: #bee7ff; }
.blog .blog__item:hover:after { width: 0px; height: 0px; border-style: solid; border-width: 23px 0 0 23px; border-color: transparent transparent transparent #bee7ff; }
.blog .blog__item:hover .blog__itemtitle { text-decoration: underline; }
.blog .blog__item.blog__item_first:after { width: 0px; height: 0px; border-style: solid; border-width: 0 0 23px 23px; border-color: transparent transparent #d3f4b1 transparent; left: auto; right: 50px; }
.blog .blog__item.blog__item_first:hover:after { width: 0px; height: 0px; border-style: solid; border-width: 0 0 23px 23px; border-color: transparent transparent #bee7ff transparent; }
.blog .blog__itemtitle { font-size: 24px; line-height: 1.2; font-family: "PT Sans", sans-serif; color: #0079e0; }

.date { margin-bottom: 10px; font-size: 18px; font-family: "PT Sans Italic", sans-serif; color: #9c9c9c; }

.cross { background: url('../img/icons-saaa3393be8.png') 0 -899px no-repeat; width: 14px; height: 14px; cursor: pointer; }

.input, .textarea { background: #d2f9c7; border-radius: 3px; color: #818181; font-size: 18px; font-family: "PT Sans", sans-serif; }
.input:focus, .textarea:focus { background: white; color: black; }
.input:focus:-ms-input-placeholder, .textarea:focus:-ms-input-placeholder { color: transparent; }
.input:focus:-moz-placeholder, .textarea:focus:-moz-placeholder { color: transparent; }
.input:focus::-moz-placeholder, .textarea:focus::-moz-placeholder { color: transparent; }
.input:focus::-webkit-input-placeholder, .textarea:focus::-webkit-input-placeholder { color: transparent; }
.input:focus::placeholder, .textarea:focus::placeholder { color: transparent; }
.input:-ms-input-placeholder, .textarea:-ms-input-placeholder { color: #818181; font-size: 18px; font-family: "PT Sans", sans-serif; }
.input:-moz-placeholder, .textarea:-moz-placeholder { color: #818181; font-size: 18px; font-family: "PT Sans", sans-serif; }
.input::-moz-placeholder, .textarea::-moz-placeholder { color: #818181; font-size: 18px; font-family: "PT Sans", sans-serif; }
.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder { color: #818181; font-size: 18px; font-family: "PT Sans", sans-serif; }
.input::placeholder, .textarea::placeholder { color: #818181; font-size: 18px; font-family: "PT Sans", sans-serif; }

.input { width: 355px; padding: 10px 20px; font-size: 18px; line-height: 1.2; color: #818181; }

.textarea { width: 353px; min-height: 80px; padding: 10px 20px; resize: vertical; border: none; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
