// 
// --------------------------------------------------

// Fonts
// --------------------------------------------------
+font(PT_Serif-Web-Regular, PT_Serif-Web-Regular)
=pt
	font-family: "PT_Serif-Web-Regular", arial, sans-serif

+font(PT_Serif-Web-Italic, PT_Serif-Web-Italic)
=pti
	font-family: "PT_Serif-Web-Italic", arial, sans-serif

+font(PT_Serif-Web-Bold, PT_Serif-Web-Bold)
=ptb
	font-family: "PT_Serif-Web-Bold", arial, sans-serif 

+font(PT_Serif-Web-BoldItalic, PT_Serif-Web-BoldItalic)
=ptbi
	font-family: "PT_Serif-Web-BoldItalic", arial, sans-serif

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic)

=ps
	font-family: 'PT Sans', sans-serif
=psi
	font-family: 'PT Sans Italic', sans-serif
=psb
	font-family: 'PT Sans Bold', sans-serif
%in
	width: 930px
	margin-left: auto
	margin-right: auto
// Common blocks
// --------------------------------------------------
body
	background: #F1F1E5 
	+pt
	font-size: 14px 
	line-height: 1.4
	&.inner
		background: #FFF 
.title
	padding-bottom: 74px
	+ptb
	font-size: 40px
	color: #424242
	text-align: center
	position: relative
	&.title_mod
		margin-bottom: 0px
		padding-bottom: 10px
		&:after
			bottom: -90px
		&:hover
			h2, a
				color: #0079E0
				border-bottom: 1px solid #0079E0
		h2, a
			display: inline-block
			line-height: 1
			color: #424242 
			text-decoration: none
			border-bottom: 1px solid #424242
	&:after
		content: ""
		width: 8px
		height: 8px
		background: #b3b3b3 
		border-radius: 50%
		position: absolute
		bottom: 44px
		left: 50%
		margin-left: -4px
	h2
		+ptb
		font-size: 40px
		color: #424242
		text-align: center
.wrap
	background: #FFF 
// Header
// --------------------------------------------------
.header
	min-height: 590px
	background: url("../img/v4-header-bg.jpg")
	+cover
	.header__in
		min-height: 590px
		position: relative
		@extend %in
	.header__descr
		height: 340px
		position: absolute
		left: 0
		right: 0
		top: 50%
		margin-top: -170px
		&:after
			content: ""
			width: 546px
			height: 210px
			background: url("../img/header_descr.png")
			position: absolute
			top: 0
			left: 50%
			margin-left: -273px
	.header__descrmeta
		padding-top: 230px
		font-size: 23px
		line-height: 33px
		text-align: center
		color: #FFF 
		+psi
	.header__contact
		height: 70px
		line-height: 70px
		position: absolute
		bottom: 0
		right: 0
		left: 0
		background: #282828
		border-radius: 2px 2px 0 0
		text-align: center
	.header__contactlink
		border-bottom: 1px dotted #18ff00
		font-size: 24px
		line-height: 32px	
		color: #18FF00
		text-decoration: none
		+ps
		&:hover
			color: #a3ff99
			border-color: #a3ff99 
	.header__social
		position: absolute
		bottom: 0
		right: 0
		+clr
		li
			float: left
		a
			display: block
			width: 70px
			height: 70px
			position: relative
		.header__social-ve
			background: #2F79FF
			a
				&:after
					content: ""
					position: absolute
					bottom: 50%
					margin-bottom: -10px
					left: 50%
					margin-left: -15px
					+s(ve)
				&:hover
					&:before
						content: ""
						height: 10px
						background: #2F79FF 
						position: absolute
						top: -10px
						left: 0
						right: 0
					&:after
						margin-bottom: 0
		.header__social-tw
			a
				background: #1cb7eb
				border-radius: 0 2px 0 0
				&:after
					content: ""
					position: absolute
					bottom: 50%
					margin-bottom: -10px
					left: 50%
					margin-left: -13px
					+s(tw)
				&:hover
					border-radius: 0 0px 0 0
					&:before
						content: ""
						height: 10px
						background: #1cb7eb
						border-radius: 0 2px 0 0
						position: absolute
						top: -10px
						left: 0
						right: 0
					&:after
						margin-bottom: 0
.logo
	+s(logo)
	position: absolute
	top: 30px
	left: 50%
	margin-left: -69px
.in-blog
	height: 35px
	line-height: 33px
	padding: 0px 8px 0 16px
	position: absolute
	top: 50px
	right: 0
	background: rgba(#000, .3)
	border-radius: 3px 2px 2px 3px
	text-decoration: underline
	font-size: 18px
	color: #18FF00
	+ps
	&:after
		content: ""
		display: inline-block
		position: absolute
		top: 0
		right: -16px
		+arr(16,34, rgba(#000, .3), right)
	&:hover
		color: #A3FF99
		background: rgba(#000, .4)
		&:after
			+arr(16,34, rgba(#000, .4), right)
// Footer
// --------------------------------------------------
.footer
	padding-top: 58px
	background: #1A3435
	.footer__in
		@extend %in
	.footer__meta
		margin-bottom: 85px
		text-align: center
		font-size: 23px
		+ps
		color: #9EE4E7 
	.title
		a,h2
			color: #FFF
			text-decoration: none
			border-bottom: none
		&:hover
			color: #FFF
			border-bottom: none
			a,h2
				color: #FFF
				border-bottom: none
.form
	.form__message
	.form__messagein
		margin-bottom: 50px
		height: 70px
		line-height: 70px
		background: #244344
		border: 1px solid #315556
		border-radius: 3px
		text-align: center
		+psi
		font-size: 18px
		color: #5A9B9D
		position: relative
		.cross
			position: absolute
			right: 25px
			top: 50%
			margin-top: -13px
	.form__row
		+clr
	.form__col
		float: left
	.form__col1
		width: 395px
		margin-right: 70px
	.form__col2
		width: 465px
	.form__label
		margin-bottom: 30px
		&.form__labelsend
			text-align: right
	.form__labellong
		margin-bottom: 40px
	.form__send
		display: inline-block
		padding: 11px 15px
		border: 2px solid #60f239
		border-radius: 5px
		background: transparent
		color: #60F239
		font-size: 18px
		+ps
		+transition(all linear 0.2s)
		&:hover
			background: #60F239
			color: #000
			+transition(all linear 0.2s)
		&:active
			background: #50D72C
			+transform(scale(0.95))
	.form__tel
		+ps
		font-size: 30px
		color: #FFF 
	.form__mail
		font-size: 30px
		color: #56D838
		+ps
		&:hover
			color: #90E38A
			a
				color: #90E38A
		a
			font-size: 30px
			color: #56D838
			+ps
			text-decoration: underline
	.form__director
		+ps
		font-size: 18px
		color: #fff 
		a
			color: #56D838
			text-decoration: underline
			&:hover
				color: #90E38A
	.form__social
		+clr
		li
			margin-right: 20px
			float: left
			&.ve
				a
					+s(ve2)
					&:hover
						+sp(ve2_h)
			&.tw
				a
					+s(tw2)
					&:hover
						+sp(tw2_h)
		a
			display: block
.copy
	height: 50px
	line-height: 50px
	background: #122425
	font-size: 16px
	+ps
	text-align: center
	color: #2B4D4E 
// PAGE
// --------------------------------------------------
.wecan
	margin-bottom: 48px
	.wecan__in
		@extend %in
		padding-top: 56px
		background: #fff
		border-radius: 0 0 2px 2px
		border: 1px solid #e5e5d2
		+box-shadow(0px 1px 0 #e5e5d2)
		border-top: none
	.wecan__list
		text-align: center
		ul
			display: inline-block
			+clr
		li
			width: 277px
			padding-top: 210px
			padding-bottom: 86px
			float: left
			text-align: center
			position: relative
			&:after
				content: ""
				position: absolute
				top: 0
				left: 50%
				margin-left: -94px
			&.wecan__prototype
				&:after
					+s(i-ico1)
			&.wecan__mobile
				&:after
					+s(i-ico2)
			&.wecan__key
				&:after
					+s(i-ico3)
	.wecan__listtitle
		margin-bottom: 15px
		font-size: 24px
		color: #2F2E2E
		line-height: 1.2
		+psb
		h2
			font-size: 24px
			color: #2F2E2E
			line-height: 1.2
			+psb
	.wecan__listcontent
		font-size: 18px
		line-height: 28px
		color: #2F2E2E
		+ps
.portfolio
	padding-bottom: 85px
	.portfolio__in
		@extend %in
	.portfolio__list
		+clr
		margin-left: -30px
	.portfolio__col
		width: 288px
		margin-left: 30px
		float: left
		ul
			font-size: 0
		li
			width: 288px
			margin-bottom: 30px
			border: 1px solid #e5e5d2
			border-radius: 2px
			+box-shadow(0 1px 0 #e5e5d2)
			border-radius: 2px
			display: inline-block
			vertical-align: top
			&:hover
				+box-shadow(none)
		a
			display: block
			text-decoration: none
			&:hover
				@include box-shadow(0 5px 29px 3px rgba(109,109,73,.3))
				.portfolio__title
					text-decoration: underline
	.portfolio__media
		width: 288px
		height: 220px
		overflow: hidden
		border-radius: 2px 2px 0 0
		// img
		// 	max-width: 100%
	.portfolio__content
		padding: 20px 25px
		background: #FFF
		border-radius: 0 0 2px 2px
	.portfolio__title
		margin-bottom: 10px
		+psb
		font-size: 24px
		line-height: 32px
		color: #0079E0
		text-decoration: none
		line-height: 1.2
	.portfolio__text
		font-size: 18px
		line-height: 28px
		color: #2F2E2E
		+ps
	.portfolio__more
		text-align: center
		position: relative
		.wrap-portfolio__morelink
			display: inline-block
			padding: 0 20px
			background: #f1f1e5
			position: relative
			z-index: 200
		.portfolio__morelink
			display: inline-block
			line-height: 1
			font-size: 23px
			color: #0079e0
			+ps
			font-weight: normal
			text-decoration: none
			border-bottom: 1px dotted #0079e0
			cursor: pointer
			&:hover
				color: #345F83
				border-color: #345F83  
		.portfolio__morediveder
			width: 100%
			height: 1px
			background: #e5e5d2
			position: absolute
			top: 13px
			left: 0
			right: 0
			z-index: 100
.slide
	height: 400px
	background: url("../img/slide.jpg")
	background-attachment: fixed
	+cover
	position: relative
	.slide__overlay
		content: ""
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		background: rgba(#000, .7)
		z-index: 100
	.slide__in
		@extend %in
	.slide__descr
		padding-top: 105px
		color: #FFF
		position: relative
		z-index: 200
		text-align: center
	.slide__text
		margin-bottom: 50px
		font-weight: bold
		font-size: 40px
		line-height: 1.2
		position: relative
		+ptb
		&:after
			content: ""
			width: 8px
			height: 8px
			border-radius: 50%
			background: #FFF
			position: absolute
			bottom: -30px
			left: 50%
	.slide__content
		font-size: 23px
		line-height: 33px
		+ps
.actuality
	background: #FFF 
	padding: 58px 0 25px
	.actuality__in
		@extend %in
	.actuality__list
		ul
			+clr
		li
			height: 170px
			padding-left: 105px
			float: left
			position: relative
			&:before
				content: ""
				display: inline-block
				vertical-align: middle
			&.actuality__list-1
				&:before
					width: 98px
					height: 98px
					background: url("../img/ico1.jpg") 
			&.actuality__list-2
				&:before
					width: 90px
					height: 90px
					background: url("../img/ico2.jpg") 
			&.actuality__list-3
				&:before
					width: 96px
					height: 96px
					background: url("../img/ico3.jpg") 
			&.actuality__list-4
				&:before
					width: 100px
					height: 82px
					background: url("../img/ico4.jpg") 
		.actuality__listdescr
			margin-left: 30px
			display: inline-block
			vertical-align: middle
		.actuality__listcontent
			font-size: 18px
			color: #2f2e2e
			+ps 
		.actuality__listmeta
			font-size: 24px
			color: #2f2e2e
			+psb
.twitter
	text-align: center
	margin-bottom: 50px
	.twitter__in
		display: inline-block
		@extend %in
		height: 120px
		line-height: 120px
		border-radius: 60px
		background: #1CB7EB
		text-align: center
		text-decoration: none
		position: relative
		+transition(all linear 0.3s)
		&:hover
			background: #19a8d8
			+transition(all linear 0.3s)
			.twitter__ico
				background: #31bfee
				+transition(all linear 0.3s)
				+delay(0.3s)
				span
					border-color: #4ad0fc
	.twitter__ico
		width: 94px
		height: 94px
		// background: #31bfee
		background: transparent 
		border-radius: 50%
		position: absolute
		left: 13px
		top: 13px
		+transition(all linear 0.3s)
		span
			display: inline-block
			width: 64px
			height: 64px
			border-radius: 50%
			background: #FFF
			border: 6px solid #4ad0fc
			border-color: #1CB7EB
			position: absolute
			top: 50%
			margin-top: -38px
			left: 50%
			margin-left: -38px
			+transition(all linear 0.3s)
			+delay(0.1s)
			&:after
				content: ""
				+s(tw3)
				position: absolute
				left: 50%
				margin-left: -16px
				top: 50%
				margin-top: -12px
	.twitter__meta
		font-size: 23px
		// line-height: 33px
		color: #FFF 
		+psi
	.twitter__descr, .twitter__link
		display: inline-block
	.twitter__link
		margin-right: 5px
		color: #c7ffb1
		text-decoration: underline
		&:hover
			// text-decoration: none
			color: #FFF 
.blog
	padding-bottom: 90px
	.blog__in
		@extend %in
	.blog__meta
		font-size: 23px
		color: #6B6B6B
		text-align: center
		+ps
	.blog__row
		margin-top: 90px
		margin-left: -30px
		+clr
	.blog__col
		width: 290px
		margin-left: 30px
		float: left
	.blog__item
		padding: 35px 40px
		border: 6px solid #d3f4b1
		border-radius: 10px
		position: relative
		&:after
			content: ""
			top: -28px
			left: 140px
			position: absolute
			// +arr(23, 23, #d3f4b1, bottom-left)
			+s(arr2)
		&:hover
			border-color: #bee7ff
			&:after
				// +arr(23, 23, #bee7ff, bottom-left)
				+sp(arr2_h)
			.blog__itemtitle
				text-decoration: underline
		&.blog__item_first
			&:after
				// +arr(23, 23, #d3f4b1, bottom-right)
				+s(arr1)
				left: auto 
				right: 50px
			&:hover
				&:after
					+sp(arr1_h)
					// +arr(23, 23, #bee7ff, bottom-right)
	.blog__itemtitle
		font-size: 24px
		line-height: 32px
		+ps
		color: #0079E0 
.date
	margin-bottom: 10px
	font-size: 18px
	+psi
	color: #9C9C9C
.cross
	width: 30px
	height: 30px
	background: transparent
	border-radius: 50%
	position: relative
	cursor: pointer
	&:after
		content: ""
		+s(cross)
		position: absolute
		top: 50%
		margin-top: -7px
		left: 50%
		margin-left: -7px
	&:hover
		background: #3b7171
		&:after
			+s(cross_h)
.input, .textarea
	background: #D2F9C7 
	border-radius: 3px
	color: #818181
	font-size: 18px
	+ps
	&:focus
		background: #FFF
		color: #000 
		+placeholder
			color: transparent
	+placeholder
		color: #818181
		font-size: 18px
		+ps
.input
	width: 355px
	padding: 10px 20px
	font-size: 18px
	line-height: 1.2
	color: #818181
.textarea
	width: 353px
	min-height: 80px
	padding: 10px 20px
	resize: vertical
	border: none
// 
// --------------------------------------------------
.inner
	margin-bottom: 70px
	.inner__header
	.inner__headerin
		padding: 50px 0 40px
		@extend %in
	.inner__headertitle
	.inner__headerrow
		text-align: center
		position: relative
	.inner__header
		.h2
			margin-right: 13px
			display: inline-block
			vertical-align: middle
			font-size: 29px
			color: #0085E6
			text-decoration: none
			+ps
			font-weight: normal
			a
				font-size: 29px
				color: #0085E6
				text-decoration: none
				+ps
				font-weight: normal
	.inner__header
		.h3
			margin-right: 13px
			display: inline-block
			vertical-align: middle
			font-size: 29px
			color: #000000
			text-decoration: none
			+ps
			font-weight: normal
			a
				font-size: 29px
				color: #000000
				text-decoration: none
				+ps
				font-weight: normal
	.inner__headerseparate
		margin-right: 10px
		display: inline-block
		vertical-align: middle
		width: 1px
		height: 29px
		background: #e3e3e3 
	.inner__headermail
		display: inline-block
		vertical-align: middle
		font-size: 16px
		text-decoration: none
		color: #979797
		+ps
	.inner__page
	.inner__pagein
		@extend %in
.inner-footer
	padding-bottom: 60px
	.inner-footer__in
		@extend %in
		text-align: center
	.inner-footer__copy
		margin-bottom: 10px
		color: #A2A2A2
		font-size: 16px
		+ps 
	.inner-footer__contacts
	.inner-footer__tel
		margin-right: 30px
		display: inline-block
		font-size: 16px
		color: #333
		+ps
		position: relative
		&:after
			content: ""
			width: 1px
			height: 13px
			background: #F1F1F1
			+box-shadow(1px 0px 0 #f4f4f4)
			position: absolute
			top: 5px
			right: -15px
		a
			font-size: 16px
			color: #333
			+ps
			text-decoration: none
	.inner-footer__mail
		display: inline-block
		font-size: 16px
		color: #0085E6 
		+ps
		a
			font-size: 16px
			color: #0085E6 
			+ps
			text-decoration: none
			&:hover
				text-decoration: underline
.on-site
	position: absolute
	top: 0
	left: 0
	display: inline-block
	height: 35px
	line-height: 33px
	padding: 0px 16px 0 8px
	background: #00bcc8
	border-radius: 2px 3px 3px 2px
	text-decoration: underline
	font-size: 18px
	color: #fff
	+ps
	&:before
		content: ""
		display: inline-block
		position: absolute
		top: 0
		left: -16px
		+arr(16,34, #00bcc8, left)
	&:hover
		color: #A3FF99
		background: #00a9c8
		&:before
			+arr(16,34, #00a9c8, left)
.ico-mail
	margin-right: 6px
	display: inline-block
	vertical-align: middle
	width: 34px
	height: 28px
	position: relative
	background: transparent
	border-radius: 2px
	&:after
		content: ""
		+s(mail)
		position: absolute
		top: 50%
		margin-top: -7px
		left: 50%
		margin-left: -10px
	&:hover
		background: #E1F2FF
.date2
	font-size: 14px
	color: #AAA 
	+ps
.article
	font-size: 20px
	color: #000
	+ps
	&.article_item
		padding-bottom: 30px
		margin-bottom: 40px
		border-bottom: 1px solid #dbdbdb
	.h3
		margin-bottom: 20px
		color: #000
		font-size: 40px
		text-align: center 
		+psb
	.date2
		margin-bottom: 35px
		text-align: center
	p
		margin-bottom: 35px
	a
		color: #0085e6
		text-decoration: none
		&:hover
			text-decoration: underline
	img
		display: block
		margin-bottom: 30px
		margin-left: auto
		margin-right: auto
	.h2
		margin-bottom: 20px
		font-size: 40px
		color: #0085E6
		text-align: center
		+psb
		a
			font-size: 40px
			color: #0085E6
			text-decoration: none
			+psb
			&:hover
				text-decoration: underline
.social
	margin-bottom: 35px
.tag
	margin-bottom: 35px
	li
		display: inline-block
	a
		font-size: 14px
		+ps
		color: #9b9b9b
		&:hover
			color: #0085E6
.someblock
	padding: 13px 20px
	background: #F4FAEB
	border-radius: 3px
	text-align: center
	font-size: 16px
	color: #0086ED
	+clr
	position: relative
	+ps
	.someblock__left
		float: left
	.someblock__center
		width: 100px
		position: absolute
		top: 12px
		left: 50%
		margin-left: -50px
	.someblock__right
		float: right
.switch
	font-size: 16px
	color: #8D8D8D
	+ps
	.switch__left
	.switch__center
	.switch__right
.search
	margin-bottom: 28px
	.search__field
		min-width: 364px
		display: inline-block
		height: 32px
		line-height: 32px
		padding: 0 7px
		position: relative
		border: 1px solid #d8d8d8
		border-radius: 17px
		background-color: #f7f7f7
		// @include box-shadow(0 4px 4px rgba(0,0,0,.04), 0 0 0 1px rgba(255,255,255,.89), inset 0 0 4px rgba(2,2,2,.22))
		+box-shadow(0 1px 0 #fff, 0 2px 2px rgba(#000, 0.06), inset 0 1px 3px rgba(2,2,2,.22))
		text-align: left
	.search__btn
		+s(lupa)
		display: inline-block
		vertical-align: middle
	.search__input
		min-width: 342px
		margin-bottom: 1px
		display: inline-block
		vertical-align: middle
		background: transparent
		font-size: 14px
		color: #ADADAD
		+ps
		+placeholder
			color: #ADADAD
			+ps
			font-size: 14px
		&:focus
			+placeholder
				color: transparent 
		